<h1>Blog posts</h1>

<div class="row">
  <div class="col-lg-11 col-md-10 mx-auto">

    <% @posts.each do |post| %>
      <div class="post-preview">
          <h2 class="post-title">
            <%= post.title %>
          </h2>
          <h5 class="post-subtitle">
            <%= truncate(post.body, :length => 800) %>
          </h5>

        <button>
          <%= link_to "Read Post", post %>
        </button>
      </div>
    <% end %>

  </div>
</div>
