<h1>Blog posts</h1>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <div class="post-preview">
          <h2 class="post-title">
            <%= post.title %>
          </h2>
          <h5 class="post-subtitle">
            <%= truncate(post.body, :length => 800) %>
          </h5>

        <button>
          <%= link_to "Read Post", post %>
        </button>
      </div>
    </div>
  </div>
<% end %>
